* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.box {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #de9700;
  border-radius: 20px;
}
.circle_1,
.circle_2,
.circle_3 {
  width: 40px;
  height: 40px;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 50%;
  margin: 10px;
  animation: ball 0.4s infinite alternate;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.432);
  transition: 1s ease-in-out;
}
.circle_1 {
  animation-delay: 1s;
}
.circle_2 {
  animation-delay: 2s;
}
.circle_3 {
  animation-delay: 3s;
}
@keyframes ball {
  100% {
    transform: translateY(-20px);
  }
}
@media (max-width: 576px) {
  .box {
    flex-direction: column;
  }
}
